# Set 1

Q1

In [ ]:
import numpy as np

def find_outliers(data, threshold=3):
    mean = np.mean(data)
    std_dev = np.std(data)
    z_scores = [(x - mean) / std_dev for x in data]
    outliers = [data[i] for i, z in enumerate(z_scores) if abs(z) > threshold]
    return outliers

# Example usage
data = [24.23, 25.53, 25.41, 24.14, 29.62, 28.25, 25.81, 24.39, 40.26, 32.95, 91.36, 25.99, 39.42, 26.71, 35.00]
outliers = find_outliers(data)
print("Outliers:", outliers)

Outliers: [91.36]

In [ ]:
#Since the oulier is the data point 91.36 we can say the outlier company is Morgan Stanley

In [ ]:
np.mean(data)

33.27133333333333

In [ ]:
np.std(data)

16.370812590976932

# SET 2

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
import statsmodels.api as smf
import warnings
warnings.filterwarnings('ignore')

Q1

In [ ]:
#mew is mean
mew = 55
std = 8
q1 = stats.norm.sf(60, loc = mew, scale = std)
print("""The probability that the service manager cannot meet his
      commitment is""",np.round(q1,5))

The probability that the service manager cannot meet his
      commitment is 0.26599

Q2

In [ ]:
mean = 38
std1 = 6
q2_lessthan_38 = stats.norm.cdf(38, loc = mean, scale = std1)


q2_less_than_44 = stats.norm.cdf(44, loc = mean,  scale = std1)


q2_betweeen_38_and_44 = (q2_less_than_44 - q2_lessthan_38)
print('The probability of employee age betweeen 38 and 44 is',np.round(q2_betweeen_38_and_44*100,2),'%')

q2_morethan_44 = 1-stats.norm.cdf(44, loc = mean, scale = std1)
print('The probability of employee age more than 44 is',np.round(q2_morethan_44*100,2),'%')

true_or_false = (q2_morethan_44 > q2_betweeen_38_and_44)
print('Answer:',true_or_false)

q2b = stats.norm.cdf(30, loc = mean, scale = std1)
print("""A training program for employees under the age of 30 at the center would be expected to attract about"""
      ,np.round((q2b*400),0),'employees')

The probability of employee age betweeen 38 and 44 is 34.13 %
The probability of employee age more than 44 is 15.87 %
Answer: False
A training program for employees under the age of 30 at the center would be expected to attract about 36.0 employees

Q4

In [ ]:
# Given
mew = 100
std = 20
# p(a<x<b)
#To Find =
""" two values, a and b, symmetric about the mean, such that the
probability of the random variable taking a value between them is 0.99"""
# Solution
""" From the above details,we have to exclude .005% area from each
left and right tails. Hence, we want to find the .005th and the
.995th percentiles Z score values"""

# Z value for .005 percentiles
z_005_ = np.round(stats.norm.ppf(0.005),4)
z_005_

# Z value for .99 percentiles
z_99_ = np.round(stats.norm.ppf(0.995),4)
z_99_

#z = (x_bar - mew) / std
#x_bar = (z*std) + mew
a = np.round((z_005_*std) + mew,1)
b = np.round((z_99_*std) + mew,1)
print("""The two values of a and b, symmetric about the mean,
      are such that the probability of the random variable
      taking a value between them is 0.99:""",a,b)

The two values of a and b, symmetric about the mean,
      are such that the probability of the random variable
      taking a value between them is 0.99: 48.5 151.5

Q5

In [ ]:
# Combine Mean Profit of both division for Company= mean1 + mean2
mean1 = 5
mean2 = 7
Mean = (mean1+mean2) # 1 USD = 45 rupees
print('The Mean Profit of both division:',Mean, 'Million$')
print('The Mean Profit of both division:',(Mean*45)/10, 'Crore Rupees')

# Combine standard Deviation = (Std1^2 + Std2^2)^1/2
std1 = 3**2
std2 = 4**2
Std = np.sqrt(std1 + std2)
print('The Standard Deviation of both division:', Std, 'Million$')
print('The Standard Deviation of both division:', (Std*45)/10, 'Crore Rupees')

The Mean Profit of both division: 12 Million$
The Mean Profit of both division: 54.0 Crore Rupees
The Standard Deviation of both division: 5.0 Million$
The Standard Deviation of both division: 22.5 Crore Rupees

In [ ]:
#A. Specify a Rupee range (centered on the mean) such that it contains 95% probability for the annual profit of the company.
r1, r2 = np.round(stats.norm.interval(0.95, Mean, Std),2)
print('Rupee Ranges from',r1,'to',r2,'Million$ in Annual profit of the Company 95% of the time')
print('Rupee Ranges from',np.divide(np.multiply(r1,45),10),'to',np.divide(np.multiply(r2,45),10),'Crore Rupees in Annual')

Rupee Ranges from 2.2 to 21.8 Million$ in Annual profit of the Company 95% of the time
Rupee Ranges from 9.900000000000002 to 98.1 Crore Rupees in Annual

In [ ]:
#B. Specify the 5th percentile of profit (in Rupees) for the company
# Z value  = X_bar - Mew / Std pop
# for percentile, X_percentile = (Zvalue * Std pop) + Mew
Z_05_ = stats.norm.ppf(0.05)
Fifth_percentile = (Z_05_ * Std) + Mean
print('The 5th percentile of Profit for the company is',np.round(Fifth_percentile,2),'Million$')
print('The 5th percentile of Profit for the company is',np.round((Fifth_percentile*45)/10,),'Crore Rupees')

The 5th percentile of Profit for the company is 3.78 Million$
The 5th percentile of Profit for the company is 17.0 Crore Rupees

In [ ]:
#C. Which of the two divisions has a larger probability of making a loss in a given year?
# The probability of Division #1 making a loss
print('The Probability of Division #1 making a loss is',np.round((stats.norm.cdf(0,5,3))*100,2),'%')

# The probability of Division #2 making a loss
print('The Probability of Division #2 making a loss is',np.round((stats.norm.cdf(0,7,4))*100,2),'%')

Division_1 = (stats.norm.cdf(0,5,3))*100
Division_2 = (stats.norm.cdf(0,7,4))*100

if Division_1>Division_2:
    print('The Division 1 has a larger Probability of making a loss')
else:
          print('The Division 2 has a larger Porbability of making a loss')

The Probability of Division #1 making a loss is 4.78 %
The Probability of Division #2 making a loss is 4.01 %
The Division 1 has a larger Probability of making a loss

# SET 4

Q3

In [1]:
import numpy as np
from scipy import stats
from scipy.stats import norm

In [ ]:
# n=100, Pop Mean=50, Pop SD=40 As no. of samples is more than 30, we can consider it normal distribution
# For No investigation P(45<X<55)
# For Investigation 1-P(45<X<55)

In [2]:
# find z-scores at x=45; z=(s_mean-P_mean)/(p_SD/sqrt(n))
z=(45-50)/(40/100**0.5)
z

-1.25

In [3]:
# find z-scores at x=55; z=(s_mean-P_mean)/(p_SD/sqrt(n))
z=(55-50)/(40/100**0.5)
z

1.25

In [4]:
# For No investigation P(45<X<55) using z_scores = P(X<50)-P(X<45)
stats.norm.cdf(1.25)-stats.norm.cdf(-1.25)

0.7887004526662893

In [5]:
stats.norm.interval(0.7887,loc=50,scale=40/(100**0.5))

(45.00000495667348, 54.99999504332652)

In [6]:
# For Investigation 1-P(45<X<55)
1-0.7887

0.21130000000000004

In [ ]:
# Answer is D. 21.1%